@CHARSET "UTF-8";
/*
[ background-color ]		
[ background-image ]		
[ background-repeat ]		
[ background-attachment ]	指定对象的背景图像是随对象内容滚动还是固定的
[ background-position ] 	指定对象的背景图像位置  x,y width和height
*/
.micon-cancel{
	background:url('icons/cancel.png') no-repeat left center;
	width: 18px;
	height: 18px;
}


/**
class以icon-开头或者包含icon-
*/
.complex [class^="img-"]/* ,
.complex [class*="icon-"] */{
	width:200px;
	height:200px;
	display: inline-block;
	/* *margin-right: .3em; */
	/* line-height: 14px; */ /* 行高 */
	vertical-align: text-top;
	background-image: url("icons/yixue.png");
	background-repeat: no-repeat;
	/*background-position: 14px 14px;*/
}

.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*=" icon-"],
a:hover > [class^="icon-"],
a:focus > [class^="icon-"]{
	background-image: url("icons/cancel-active.png");
}
/**
把div解释成一个坐标轴图，向左、向上是负，向右、向下是正。时刻看0,0点的位置。
*/
.img-needle {
  background-position: 0 0;
}
.img-echometer {
  background-position: -201px 0;
}
.img-thermometer {
  background-position: -401px 0;
}

.img-yixue_04 {
  background-position: 0 -201px;
}
.img-yixue_05 {
  background-position: -201px -201px;
}
.img-yixue_06 {
  background-position: -401px -201px;
}

.img-yixue_07 {
  background-position: 0 -401px;
}
.img-yixue_08 {
  background-position: -201px -401px;
}
.img-yixue_09 {
  background-position: -401px -401px;
}


